*{
  margin:0;
  padding:0;
  font-family:'Times New Roman', Times,'Kanit', sans-serif;;
  box-sizing: border-box;
}

body{
  background:rgb(255, 255, 255);
  color:#1f1f1f;
}

#header{
  vertical-align: middle;
    max-width: 100%;
    height: 80vh;
    background-image: url(images/bgst.png);
    background-size: cover;
    margin:30px 10px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    


}

.bg{
    width: 100%;
    min-width: 100vh;
    background-color: #1f1f1f;
}
.logo{
    width: 800px;
}

.header-text{
    display: absolute;
  color:aliceblue;
  font-size: 50px;
 padding: 50px 10%;
 
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
color:rgb(119, 74, 14);
text-decoration: none;
font-size: 20px;
position: relative;
}

nav ul li a::after{
    content: '';
    width: 0; 
    height: 3px;
    background:#83470f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 10px;
}


/*------------about-----------------*/
#about{
  padding: 80px 10%;
  color: rgb(94, 60, 26);
  font-family: 'Kanit', sans-serif;
  margin:30px 10px ;
}
.row{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  grid-area: 40%;
}
.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}
.about-col-2{
  grid-area: 60%;
}
.sub{
  font-size: 50px;
  font-weight: 600;
  font-family:Verdana;
}
.sub1{
  font-size: 50px;
  font-weight: 900;
  font-family:Verdana;
  color: rgb(114, 108, 77);
}

.sub2{
  font-size: 30px;
  font-weight: 400;
  font-family:Verdana;
}
.abme{
  font-size:25px ;
  font-weight: 500;
  font-family:'Segoe UI';
}
.word{
  font-size:25px ;
  font-weight: 800;
  font-family:'Segoe UI';
}
.text{
    margin: 30px 10%;
    font-family: 'Kanit', sans-serif;
}

#portfolio{
  padding: 30px 10% ;
  color: rgb(102, 76, 46);
}

.buttonrun{
    padding-top: 10px;
    margin: 20px;
    text-align: right;
    justify-content: space-between;
}

.card1{
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: 20px 5px;
  margin-top: 20px;
  text-align: center;
  background: white;
  
}

.card1 .schpro1 {

  top: 50%;
  left: 50%;

  background-color: #8f7343;
  color: white;
  font-size: 25px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px #1f1f1f;
  transform: translateY(4px);
  
}
.schpro1 {

  top: 50%;
  left: 50%;

  background-color: #8f7343;
  color: white;
  font-size: 25px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px #1f1f1f;
  transform: translateY(4px);
  
}
.schpro {

  top: 50%;
  margin:10px 5% 5%;

  background-color: rgb(134, 134, 134);
  color: white;
  font-size: 20px;
  padding: 10px 10%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 3px #1f1f1f;
  transform: translateY(4px);
  font-family: 'Kanit', sans-serif;
  
}

.container{
  font-size: 16px;
  font-weight: 400;
  margin: 5px 20px;
  font-family: 'Kanit', sans-serif;

}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    background: rgb(59, 55, 55);
  }
  
  .title {
    color: grey;
    font-size: 18px;
    background: white;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .first {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
        background: white;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 10;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .pro1{
padding: 5px 20px;

  }
  .pro1 .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
      }
.ctbutton{
  width:80%;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  
}

#schpro{
  padding: 30px 10% ;
  max-width: 90%;
    margin: auto;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.263);
}

#schact{
  padding: 30px 10% ;
  max-width: 90%;
    margin: auto;
  box-shadow: 0 6px 15px 0 rgba(43, 3, 176, 0.263);
}
#exstu{
  padding: 30px 10% ;
  max-width: 90%;
    margin: auto;
  box-shadow: 0 6px 15px 0 rgba(43, 3, 176, 0.263);
}
#ldsh{
  padding: 30px 10% ;
  max-width: 90%;
    margin: auto;
  box-shadow: 0 6px 15px 0 rgba(43, 3, 176, 0.263);
}

.small{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(213, 92, 22);
font-family: 'Kanit', sans-serif;
}

.big{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Kanit', sans-serif;

}
#contact{
  padding: 80px 10%;
  color: rgb(94, 60, 26);
  font-family: 'Kanit', sans-serif;
}
.ctm{
  font-size:20px ;
  font-weight: 475;
  font-family:'Segoe UI';
  padding: 40px 5%;
}
.ctbut {
  background-color: rgb(189, 138, 36);
  color: white;
  font-size: 14px;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 3px #1f1f1f;
  font-family: 'Kanit', sans-serif;
  width:10% ;
}
@media screen and (max-width:600px) {
  .logo{
    max-width: fit-content;
  }
  #header{
    max-width: fit-content;
  }
  .header-text{
    max-width: fit-content;
    font-size: 36px;
  }
  .text{
   width:fit-content ;
  }
  .about-col-1{
    max-width: fit-content;
    grid-template-columns: 1fr;

  }
  .row{
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr ;
  }
  #about{
    grid-template-columns: 1fr ;
    
  }
  
  .sub{
    font-size: 40px;
  }
  .sub1{
    font-size: 40px;
  }
  .word{
    font-size: 16px;
  }
  .big{
    font-size: 10px;
  }
  .small{
    font-size: 8px;
  }
  .nav ul li a{
    font-size: 10px;
  }
  .abme{
  font-size:15px ;
  font-weight: 500;
  font-family:'Segoe UI';
  }
  .card1{
    max-width: fit-content;
  }
  .ctm{
    font-size: 16px;
  }
  .ctbut {
    background-color: rgb(189, 138, 36);
    color: white;
    font-size: 14px;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 3px #1f1f1f;
    font-family: 'Kanit', sans-serif;
    width:100% ;
  }
  .schpro {

    top: 50%;
    margin: 10% 10%;
  
    background-color: rgb(134, 134, 134);
    color: white;
    font-size: 10px;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 3px #1f1f1f;
    transform: translateY(4px);
    font-family: 'Kanit', sans-serif;
    
  }
  .schpro1 {

    top: 50%;
    left: 50%;
  
    background-color: #8f7343;
    color: white;
    font-size: 25px;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px #1f1f1f;
    transform: translateY(4px);
    
  }
}

